button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  margin: 10px;
  color: white;
}

#controls {
  display: flex;
  justify-content: center;
}

header {
  background-color: rgb(10, 110, 117);
  color: white;
  display: flex;
  justify-content: center;
  padding: 40px 0px 40px 0px;
  margin-bottom: 20px;
}

input {
  margin: 10px;
  width: 500px;
}

label {
  margin: 10px;
  display: flex;
  align-self: center;
}

#lookup-cities {
  background-color: rgb(28, 169, 224);
}

#lookup-cities:hover {
  background-color: rgb(100, 205, 247);
}

#lookup-countries {
  background-color: rgb(106, 56, 197);
}

#lookup-countries:hover {
  background-color: rgb(118, 103, 255);
}
